/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  font-family: sans-serif;
}

/* end css reset */

body {
  background: #eceef1;
}
a {
  color: #0077c5;
  text-decoration: none;
}

#login-bar {
  display: none;
}
@media only screen and (min-width: 767px) {
  #login-bar {
    display: flex;
    justify-content: end;
    padding: 10px 30px;
  }
}
#login-bar button {
  display: flex;
  align-items: center;
  color: white;
  background: #0077c5;
  border-radius: 4px;
  border: 1px solid #4c4c4c;
}
#login-bar .links {
  font-size: 12px;
  line-height: 1.5;
  text-align: right;
}

button {
  color: white;
  background: #0077c5;
  border-radius: 4px;
  border: 1px solid #4c4c4c;
  cursor: pointer;
  font-size: 13.5px;
  padding: 0 20px;
  margin-left: 10px;
  text-transform: capitalize;
}
button img {
  height: 1em;
  width: 0.8em;
  margin-top: 2px;
  margin-right: 4px;
}

header {
  display: flex;
  justify-content: center;
}
header img {
  height: 35px;
}

#logo-container {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
#intuit-logo {
  font-size: 1.2rem;
  font-weight: 100;
  margin-bottom: 20px;
}
#product-bar {
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  letter-spacing: 0.025rem;
  color: rgba(0,0,0,0.5);
  width: 320px;
}
#product-bar img {
  height: 23px;
  width: 23px;
}

form {
  margin: auto;
  width: 380px;
  background: #fff;
  border: 1px solid #c7c7c7;
  border-bottom: none;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 400;
  padding: 30px;
  box-sizing: border-box;
}

form h2 {
  color: #4c4c4c;
  font-weight: 400;
  line-height: 1.1;
  font-size: 24px;
  text-align: center;
}

form h3 {
  font-weight: 300;
  line-height: 1.2;
  padding-top: 20px;
  text-align: center;
}

form h3 a {
  display: block;
}

fieldset > * {
  display: block;
}

label {
  padding-bottom: 6px;
  /* this would be space for the error messages that i'm not implementing */
  margin-top: 30px;
}

input[type="email"], input[type="tel"], input[type="password"] {
  width: 100%;
  height: 34px;
  line-height: 1.3em;
  border: 1px solid #c1c5c8;
  padding: 0 8px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  box-sizing: border-box;
}
input[type="email"]:focus, input[type="tel"]:focus, input[type="password"]:focus {
  border: 1px solid rgba(82,168,236,0.8);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);
}

#phone-warning {
  padding: 5px 0;
  font-size: 10px;
  color: #444;
}

form button {
  margin: 30px 0;
  width: 100%;
  height: 44px;
}

#terms {
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
  font-style: italic;
  color: #757575;
}

#google-terms {
  margin: auto;
  width: 380px;
  box-sizing: border-box;
  padding: 16px;
  border: 1px solid #c7c7c7;
  border-top: none;
  font-size: 10px;
  color: #8d9096;
  text-align: center;
}

footer {
  font-size: 12px;
  color: #505050;
  text-align: center;
  line-height: 1.5;
  padding: 20px 0;
}

footer ul {
  display: flex;
  justify-content: center;
}
footer li {
  margin-right: 10px;
}